<nav class="navbar navbar-expand-lg navbar-light bg-light">

<div class="container">
    <a class="navbar-brand mytestshop" href="/">
        <strong class="blue-text">My Test Shop</strong>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'products' %}">
            Products</a>
          </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
          {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link waves-effect">
              <span class="clearfix d-none d-sm-inline-block"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'register' %}">
              <span class="clearfix d-none d-sm-inline-block"> Register </span>
            </a>
          </li>
          {% else %}
                   {% if request.user.is_superuser %}
               <li class="nav-item">
              <a class="nav-link waves-effect" href="{% url 'super' %}">
              <span class="clearfix d-none d-sm-inline-block"> Edit Products </span>
              </a>
              </li>
               <li class="nav-item">
              <a class="nav-link waves-effect" href="{% url 'manage_refunds' %}">
              <span class="clearfix d-none d-sm-inline-block"> Check Orders </span>
              </a>
              </li>
                    {% endif %}
              <li class="nav-item">
              <a class="nav-link waves-effect" href='{% url 'profile' %}'>
              <span class="clearfix d-none d-sm-inline-block"> MyProfile </span>
              </a>
              </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'logout' %}">
              <span class="clearfix d-none d-sm-inline-block"> Logout </span>
            </a>
          </li>

          {% endif %}
        </ul>
      </div>

    </div>
  </nav>