{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="col-md-4 mb-5">
        <form method="post" enctype="multipart/form-data" action="{% url 'create_item' %}">
        {% csrf_token %}
        {{ create_form.as_p }}
        <button class="btn btn-primary" type="submit">Add new product</button>
        </form>
    </div>
    </div>
    <div class="container">
    <div class="row">
        {% if items %}
        {% for item in items %}

                <div class="col-md-8 mb-5">

                <h2>{{ item.title }}</h2> <small>${{ item.price }}</small>
                <p> Items left: {{ item.quantity }} </p>
                <a class="btn btn-primary" href="{{ item.get_absolute_url }}/{{ 'update' }}">Edit</a>
                <hr>
            </div>
                {% endfor %}


    </div>
        {% else %}
            <div class="col-md-8 mb-5">
            <p> There are no products. </p>
            </div>
    {% endif %}

    {% if is_paginated %}
        <nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="page-link sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
        </nav>
{% endif %}

</div>

{% endblock %}